@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,600,700|Pinyon+Script&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

/* ---Colors--- */

.navbar {
    background-color: rgb(255, 255, 231);
}

.bg-main-content {
    background-color: rgb(61, 34, 6);
}

.content-block {
    background-color: rgb(111, 78, 51);
}

footer {
    background-color: rgb(255, 255, 231);
}

/* ---Navbar--- */

.navbar {
    width: 100%;
    min-height: 100px;
    padding: 0;
 }

.navbar-light .navbar-brand {
    margin-left: 16px; 
    font-family: 'Pinyon Script', cursive;
    font-size: 220%;
    padding: 20px;
    color: rgb(61, 34, 6);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(61, 34, 6);
    text-shadow: 0.5px .5px rgb(61, 34, 6, 0.5); 
}

.nav-link {
font-family: 'Oswald', sans-serif;
text-align: center;
font-size: 16px;
padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link {
    width: 100%;
    height: 100px;
    text-decoration: none;
    color: rgb(61, 34, 6, .8);
}

.nav-item:last-of-type {
    padding-right: 10px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(61, 34, 6);
    font-size: 20px;
}

.navbar-light .navbar-nav .active>.nav-link span {
    text-decoration: underline;
}

.nav-link span {
    display: block;
    text-align: center;
}


/* ---Carousel--- */

.carousel-outer {
    padding: 0;
}

#herocarousel {
position: relative;
}

.carousel-overlay {
position: absolute;
    top: 25%;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 5%;
    color: rgb(255, 255, 231);
    z-index: 1;
}

.overlay-header {
    font-family: 'Pinyon Script', cursive;
    font-size: 1.5rem;   
}

.overlay-text .lead {
    font-family: "Open Sans", sans-serif;
}
/* Credit to anantajitjg on GitHub: https://github.com/twbs/bootstrap/issues/24657#issuecomment-360552841 
- solves issue of white space between carousel slides on transition */
.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	        backface-visibility: visible;
}

/* ---Headings--- */

h1,h2,h3,h4 {
    margin: 0;
}

.heading {
    font-family: "Open Sans", sans-serif;
    padding: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.offwhite {
    color: rgb(255, 255, 231);
}

.brown {
    color:rgb(61, 34, 6)
}

/* ---Layout--- */

.section-column {
    text-align: center;
    padding: 15px;
    margin: 20px 0px;
}

.content-block {
    color: rgb(255, 255, 231);
    font-family: 'Oswald', sans-serif;
    padding: 15px;
}

.img-block {
    margin-bottom: 10px;
}


/* ---Borders--- */

.content-block {
    border: 1px solid rgb(111, 78, 51);
    border-radius: 20px;
}

.img-block img {
    border-radius: 20px;
}

/* ---Buttons--- */

.btn-content {
    background-color: rgb(61, 34, 6);
    border: 1px solid rgb(61, 34, 6);
}

.btn-content:hover {
    background-color: rgb(37, 13, 0);
    border: 1px solid rgb(37, 13, 0);
}

/* ---Block Dividers--- */

.blockdivider {
    margin: 2px 0 4px 0;
    height: 1px;
    border: 0;
    background-color: rgb(61, 34, 6);
    text-align: center;
}

.blockdivider-short {
    width: 30%;
}

/* ---Hover--- */

/* http://ianlunn.github.io/Hover/ */
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgb(61, 34, 6, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Icon Grow Rotate */
.hvr-icon-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow-rotate .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow-rotate:hover .hvr-icon, .hvr-icon-grow-rotate:focus .hvr-icon, .hvr-icon-grow-rotate:active .hvr-icon {
  -webkit-transform: scale(1.5) rotate(12deg);
  transform: scale(1.5) rotate(12deg);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(61, 34, 6, .7);
}

footer: focus, footer: hover {
    color: rgb(61, 34, 6, .7);
} 

/* ---Footer--- */

footer {

}

.footer-details {
    font-family: 'Oswald', sans-serif;
    color: rgb(61, 34, 6);
    text-align: center;   
}

footer a:focus, footer a:hover {
    color: rgb(61, 34, 6, .7);
    text-decoration: none;
}

footer i {
    color: rgb(61, 34, 6);
}

.footer-header {
    margin-top: 20px;
}

.footer-content {
font-size: 70%;
}

footer a {
    text-decoration: none;
    color: inherit;
}

/* ---Media Queries--- */
@media screen and (min-width: 576px) {
    .overlay-header {
        font-family: 'Pinyon Script', cursive;
        font-size: 3rem; 
    }
}

@media screen and (min-width: 570px) {
    .overlay-header {
        font-family: 'Pinyon Script', cursive;
        font-size: 3rem; 
    }
}