@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,600,700|Pinyon+Script&display=swap');
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(255, 255, 231);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* ---Colors--- */

.navbar {
    background-color: rgb(255, 255, 231);
}

.dropdown-menu, .dropdown-item {
    background-color: rgb(255, 255, 231);
}

.bg-yellow {
    background-color: rgb(255, 255, 231);
}

.bg-darkbrown {
    background-color: rgb(61, 34, 6);
}

.bg-brown {
    background-color: rgb(111, 78, 51);
}

.allergen-box {
    background-color: rgb(111, 78, 51);
    color: rgb(255, 255, 231);
}

.item-wrapper {
    background-color: rgb(111, 78, 51);
    color: rgb(255, 255, 231);
}

footer {
    background-color: rgb(255, 255, 231);
}

/* ---Navbar--- */

.navbar {
    width: 100%;
    min-height: 100px;
    padding: 0;
 }

.navbar-light .navbar-brand {
    margin-left: 16px; 
    font-family: 'Pinyon Script', cursive;
    font-size: 220%;
    padding: 20px;
    color: rgb(61, 34, 6);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(61, 34, 6);
    text-shadow: 0.5px .5px rgb(61, 34, 6, 0.5); 
}

.nav-link {
font-family: 'Oswald', sans-serif;
text-align: center;
font-size: 16px;
padding-top: 20px;
color: rgb(61, 34, 6);
text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    width: 100%;
    height: 100px;
    text-decoration: none;
    color: rgb(61, 34, 6, .8);
}

.nav-item:last-of-type {
    padding-right: 10px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(61, 34, 6);
    font-size: 20px;
}

.navbar-light .navbar-nav .active>.nav-link span {
    text-decoration: underline;
    color: rgb(61, 34, 6, .8);
}

.nav-link span {
    display: block;
    text-align: center;
}

/* ---Logo--- */

.navbar-brand {
position: relative;
}

.logo {
width: 75px;
position: relative;
display: inline-block;
}
/* Change logo on hover. Credit: Tutorial Republic, https://www.tutorialrepublic.com/faq/how-to-change-image-on-hover-with-css.php */
.navbar-brand .img-top {
        display: none;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 99;
    }
    
.navbar-brand:hover .img-top {
        display: inline;
    }

.brandname {
margin-left: 20px;
}

/* ---Dropdown Menu--- */

.dropdown-menu {
    margin-top: 5px;
}

.dropdown-item {
    color: rgb(61, 34, 6)
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgb(61, 34, 6);
    color: rgb(255, 255, 231);
}

/* ---Carousel--- */

.carousel-outer {
    padding: 0;
}

#herocarousel {
position: relative;
}

.carousel-overlay {
position: absolute;
    top: 25%;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 5%;
    color: rgb(255, 255, 231);
    z-index: 1;
}

.overlay-header {
    font-family: 'Pinyon Script', cursive;
    font-size: 1.5rem;   
}

.overlay-text .lead {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
}
/* Credit to anantajitjg on GitHub: https://github.com/twbs/bootstrap/issues/24657#issuecomment-360552841 
- solves issue of white space between carousel slides on transition */
.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	        backface-visibility: visible;
}

/* ---Headings--- */

h1,h2,h3,h4 {
    margin: 0;
}

.heading {
    font-family: "Open Sans", sans-serif;
    padding: 15px 0;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.menu-heading {
    margin: 15px;
}

.allergen-key {
    text-align: center;
}

.offwhite {
    color: rgb(255, 255, 231);
}

.brown {
    color:rgb(61, 34, 6)
}

/* ---Layout--- */

.bg-main-content {
 
}

.section-column {
    
}

.content-block {
    color: rgb(255, 255, 231);
    font-family: 'Oswald', sans-serif;
    margin: 30px 10px;
    min-height: 375px;
    padding: 0px 15px 15px;
    position: relative;
}

.img-block {
    margin-bottom: 15px;
}

.column-content {
    margin-bottom: 15px;
}

/* Spacer prevents buttons from overlapping text when screen resized - https://stackoverflow.com/questions/12357242/stop-absolutely-positioned-div-from-overlapping-text*/
.spacer {
    width: 150px;
    height: 45px;
    float: left;
    display: inline-block;
}

.spacer-menu {
    width: 150px;
    height: 25px;
    float: left;
    display: inline-block;
}

.allergen-box {
    padding: 15px;
}

.allergens {
    text-align: center;
}

/* Restrict size of allergen images - https://stackoverflow.com/questions/19708979/constraining-image-height-with-bootstrap-responsive-image */
.allergen-item {
    height: 25px;
}

.allergen-item .img-fluid {
    display: inline-block;
    width: auto;
    max-height: 100%;
}

.allergen-info {
    display: inline-block;
    font-size: .75rem;
}

.allergen-item {
    margin: 5px;
    display: inline-block;
}

.meal-container {
    padding: 15px;
}

.item-wrapper {
    padding: 15px;
    border-radius: 30px;
    position: relative;
}

.item-image img {
    padding: 15px;
    border-radius: 30px;
}

.item-wrapper .allergen-item {
    position: absolute;
    left: 15px;
    bottom: 5px;
    width: 150px;
    height: 25px;
}

/* Circle containing Jenny's image */
.circle-wrapper {
    position: relative;
    background-color:  rgb(61, 34, 6);
    top: 200px;
    height: 200px;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-style: solid;
    border-color:rgb(111, 78, 51);
    border-width: 1px;
    border-radius: 50%;
    top: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    z-index: 2;
}

.circle-bg {
    background: url("../images/10933822_633781693411714_96073657300284445_n.jpg") no-repeat 50% 30%;
    height:100%;
    border-radius: 50%;
}

.message-padding {
    padding: 200px 0 0 0;
}

.message-wrapper {
    background-color: rgb(61, 34, 6);
    padding: 0 30px;
}

.message-content {
    background-color: rgb(111, 78, 51);
    border-radius: 30px;
    padding: 30px;
}

.map-wrapper {
    padding: 30px;
}

.map-wrapper .img-fluid {
    border-radius: 30px;
}

/* ---Bookmarks--- */
.bookmarks {
    text-align: center;
}

.bookmarks-item {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.bookmarks-list {
    margin: 15px 0;
    padding: 0
}

/* ---Borders--- */

.content-block {
    border: 1px solid rgb(111, 78, 51);
    border-radius: 20px;
}

.img-block img {
    border-radius: 20px;
}

.bookmarks-item {
    border-right: 1px solid rgb(255, 255, 231);
}

.bookmarks-item:last-of-type {
    border-right: none;
}

/* ---Buttons--- */

.btn-content {
    background-color: rgb(61, 34, 6);
    border: 1px solid rgb(61, 34, 6);
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
    bottom: 5px;
    width: 150px;
    height: 45px;
    color: rgb(255, 255, 231);
    font-size: 16px;
    line-height: 32px;
}

.btn-content:hover {
    background-color: rgb(37, 13, 0);
    border: 1px solid rgb(37, 13, 0);
}

.button-wrapper {
    text-align: center;
}

.allergens-button {
    background-color: rgb(255, 255, 231);
    border: 1px solid rgb(255, 255, 231);
    color: rgb(61, 34, 6);
    margin: 30px;
}

/*.allergens-button:hover, .allergens-button:focus {
    background-color: rgb(111, 78, 51);
    border: 1px solid rgb(111, 78, 51);
    color: rgb(255, 255, 231);
}*/

.top-button {
    position: fixed;
    bottom: 10%;
    right: 0;
    border: 8px solid rgb(255, 255, 231);
    background-color: rgb(255, 255, 231);
    color: rgb(37, 13, 0);
    font-size: 24px;
    z-index: 1;
}

.btn-order {
    border: 5px solid rgb(255, 255, 231);
    background-color: rgb(255, 255, 231);
    color: rgb(37, 13, 0);
}

.btn-order:hover, .btn-order:focus {
    border: 5px solid rgb(37, 13, 0);
    background-color: rgb(37, 13, 0);
    color: rgb(255, 255, 231);
} 

/* ---Block Dividers--- */

.divider {
    height: 1px;
    background-color: rgb(61, 34, 6);
}

.divider-offwhite {
    height: 1px;
    background-color: rgb(255, 255, 231);
}

.small {
    width: 50%; 
    margin: 5px auto;
    text-align: center;
}

/* ---Order Form Jumbotron--- */
.order-container {
    padding: 30px;
    background: url(../images/cooking-1940689.jpg) no-repeat top left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

#jumbotron {
    background-color: transparent;
    margin-top: 0;
    padding: 0;
}

.order-form {
    width: 90%;
    margin: 0 auto;
}

#emailHelp {
    color: rgb(255, 255, 231)!important; /* Override Bootstrap's !important declaration */
}

.form-control {
    margin-bottom: 15px; /* Match padding value - add space between fields on smaller screens */
}

/* ---About Us Jumbotron--- */
.about-container {
    padding: 30px;
    background: url(../images/bakery-567378_1280.jpg) no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

#about-jumbotron {
    background-color: transparent;
    margin-top: 0;
    padding: 0;
}

/* ---Hover--- */

/* http://ianlunn.github.io/Hover/ */
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgb(61, 34, 6, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Icon Grow Rotate */
.hvr-icon-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow-rotate .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow-rotate:hover .hvr-icon, .hvr-icon-grow-rotate:focus .hvr-icon, .hvr-icon-grow-rotate:active .hvr-icon {
  -webkit-transform: scale(1.5) rotate(12deg);
  transform: scale(1.5) rotate(12deg);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(61, 34, 6, .9);
}

.bookmarks-list .bookmarks-link:focus, .bookmarks-list .bookmarks-link:hover {
    color: rgb(255, 255, 231);
    text-shadow: 0.5px .5px rgb(255, 255, 231, 0.5); 
}

footer:focus, footer:hover {
    color: rgb(61, 34, 6, .9);
} 

/* ---Footer--- */

footer {

}

.footer-details {
    font-family: 'Oswald', sans-serif;
    color: rgb(61, 34, 6);
    text-align: center;   
}

footer a:focus, footer a:hover {
    color: rgb(61, 34, 6, .9);
    text-decoration: none;
}

footer i {
    color: rgb(61, 34, 6);
}

.footer-header {
    margin-top: 20px;
}

.footer-content {
font-size: 70%;
}

footer a {
    text-decoration: none;
    color: inherit;
}

/* ---Media Queries--- */
@media screen and (min-width: 410px) {
    .overlay-header {
        font-family: 'Pinyon Script', cursive;
        font-size: 2rem; 
    }

    .overlay-text .lead {
        font-size: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .overlay-header {
        font-family: 'Pinyon Script', cursive;
        font-size: 3rem; 
    }

    .overlay-text .lead {
        font-size: 1.5rem;
    }

    .order-form {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .overlay-header {
        font-family: 'Pinyon Script', cursive;
        font-size: 5rem; 
    }

    .overlay-text .lead {
        font-size: 2.5rem;
    }
}
