@import url('https://fonts.googleapis.com/css?family=Lato|Pinyon+Script&display=swap');

/* ---Colors--- */

.navbar {
    background-color: #f2f3ae;
}

/* ---Navbar--- */

.navbar {
    width: 100%;
    min-height: 100px;
 }

.navbar-light .navbar-brand {
    font-family: 'Pinyon Script', cursive;
    font-size: 200%;
    padding: 10px;
    color: #000
}

.navbar-light .navbar-nav a.nav-link,.active>.nav-link {
    color:#000;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #000;
}